<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue sur Carabistouilles !</h1>
    <p class="lead">Un petit site sympas pour passer le temps avé les collègues !</p>
  </div>
</div>