<div class="container py-5">
	<div class="p-5 bg-light rounded-3 text-center">
		{{#if session.authenticated }}
		<h1 class="display-5 fw-bold">Bonjour {{ session.user.username }} !</h1>
		{{else}}
		<h1 class="display-5 fw-bold">Bienvenue sur Carabistouilles !</h1>
		{{/if}}
		<p class="fs-4 fw-thin text-secondary">Un petit site sympa pour passer le temps avé les collègues !</p>
	</div>
</div>

<div class="container py-2">

	<div class="row align-items-center">
		<div class="col-12 col-lg-4">

			<div class="card text-white rounded-3 shadow-lg my-2" style="background: #2ecc71; border:none">
				<!-- <img src="img/games/chess_illustration.jpg" alt="" class="rounded-3"> -->
				<div class="card-body h-100 p-5 pb-3 pt-2 text-white text-shadow-1">
					<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Le Monopoly est disponible !</h2>
					<div class="d-flex mt-auto mb-3">
						<a class="btn btn-outline-light btn-border" href="#">Jouez maintenant <i class="bi-caret-right-fill"></i></a>
					</div>
				</div>
			</div>

		</div>
		
		<div class="col-12 col-lg-4">

			<div class="card bg-dark text-white rounded-3 shadow-lg my-2">
				<!-- <img src="img/games/chess_illustration.jpg" alt="" class="rounded-3"> -->
				<div class="card-body h-100 p-5 pb-3 pt-2 text-shadow-1">
					<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Jouez et gagnez des Bitcoins !</h2>
					<div class="d-flex mt-auto mb-3 justify-content-center">
						<a class="btn btn-outline-light btn-border" href="#">En savoir plus</a>
					</div>
				</div>
			</div>

		</div>

		<div class="col-12 col-lg-4">

			<div class="card bg-danger text-white rounded-3 shadow-lg my-2">
				<!-- <img src="img/games/chess_illustration.jpg" alt="" class="rounded-3"> -->
				<div class="card-body h-100 p-5 pb-3 pt-2 text-shadow-1">
					<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
						Worlds de Pictionnary
					</h2>
					<div class="d-flex mt-auto mb-3 justify-content-between">
						<div class="d-flex align-items-center gap-2">
							<i class="bi-calendar3"></i>
							<small>Aujourd'hui</small>
						</div>
						<div class="btn btn-outline-light">
							Regarder le live  <i class="bi-tv"></i>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>