html, body {
    min-height: 100vh;
}
#nav-carabistouilles img {
    width: 40px;
    margin-right: 7px;
    margin-bottom: 4px;
}
#nav-carabistouilles {
    line-height: 45px;
}
.pfp-100 {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.pfp-100 img {
    height: 100px;
    width: 100px;
}

.crb-form {
    border: 1px solid #cacacaca;
    border-radius: 20px;
    padding: 20px;
}

.crb-navbtn {
    width: 140px
}